
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<h1>Nouvelle Salle</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="name">Nom:</label>
							<input type="text" class="form-control" id="name"  ng-model="name">
						</div>
						<div class="form-group">
							<label for="info">Technique:</label>
							<select class="form-control" ng-model="method">
							  <option ng-repeat="m in methods">{{ m.name }}</option> 
							</select>
						</div>
						<div class="form-group">
							<label for="info">Equipement:</label>
							<select class="form-control" ng-model="equipment">
							  <option ng-repeat="e in equipments">{{ e.brand }} {{ e.name }} ({{ e.year }})</option> 
							</select>
						</div>
							
						<button ng-click="newRoom()" class="btn btn-success" style="float: right">Valider</button>
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>

