<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/room/new" class="btn btn-success" style="float: right">Nouvelle Salle</a>
  		<h1>Liste des Salles d'examin</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Nom</th>
					  <th> Equipement</th>
					  <tr ng-repeat="room in rooms">
					    <td>{{ room.name }}</td>
					    <td>{{ room.equipment }}</td>
					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>
