<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			  	<h3 class="panel-title">Detail de l'examin</h3>
			  </div>
			  <div class="panel-body">
				  	<div class="col-md-6">
					    <b>Nom:</b> {{exam.lname}} 
					    <br>
					    <b>Prenom:</b> {{exam.fname}}
					    <br>
					    <b>Age:</b> {{exam.age}}
					    <br>
					    <b>Sexe:</b> {{exam.gender}}
					    <br>
				  	</div>
		

					<div class="col-md-6">
						
					    <b>Examin Demande par:</b> {{exam.hospital + " " + exam.service }} 
					    <br>
					    <b>Raison:</b> {{exam.reason}} 
					    <br>
					    <b>Technique:</b> {{exam.method}}  {{exam.type}}
					    <br>
					    <b>Date:</b> {{exam.date}}
					    <br>
					    <b>Status:</b> {{ exam.status }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			  <h3 class="panel-title">Resultats</h3>
			  </div>
			  <div class="panel-body">
			    <b>Compte Rendu:</b> 
			    <br>
			    <div id="report"></div>
			    <b>Conclusion:</b> 
			    <br>
			    <div id="conclusion"></div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div style="float: right">
				
				<a ng-href="/exam/print/{{exam._id}}" class="btn btn-success" ng-if="exam.status =='non interprete'">Interpreter</a>
				<a ng-href="/exam/edit/{{exam._id}}" class="btn btn-success" ng-if="exam.status =='interprete' || exam.status =='en cours d\'interpretation' ">Modifier/Corriger</a>
				<button ng-click="print()" class="btn btn-success">Imprimer</button>
			</div>
		</div>
	</div>
</div>