
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  			<h1>Identite du Patient</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
				<div style="float:right">
					Status de l'examen <b>{{ exam.status }}</b>
				</div>
				<b>{{ exam.lname }} {{ exam.fname }} </b> de sexe: <b>{{ exam.gender }}</b> age de: <b>{{ exam.age }} </b> ans, examine le : <b>{{ exam.date }}</b>
				<br>
				Addresse par:<b>{{ exam.hospital }} {{ exam.service }}</b>
				<br>
				Examen Pratoque: <b>{{ exam.method }} - {{ exam.type }}</b>
				<br>
				Motif:<b>{{ exam.reason }}</b> 
				<div style="float:right">
				Realise par: <b> {{ sessionTeam }} </b>
				</div>
				
				
				</div>
			</div>
  			<h1>Resultats</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="report">Compt Rendu:</label>
							<div  id="report">Hello Summernote</div>
						</div>
						<div class="form-group">
							<label for="conclusion">Conclusion:</label>
							<div  id="conclusion">Hello Summernote</div>
						</div>
						<div class="form-group">
							<label for="info">Interprete par:</label>
							<select class="form-control" ng-model="interpretedBy">
							  <option ng-repeat="doctor in sessionTeam">Dr.{{ doctor }}</option> 
							</select>
						</div>
						<div style="float: right">
						<button ng-click="saveChanges()" class="btn btn-success" >Enregistrer le compte rendu</button>
						<button ng-click="validateExam()" class="btn btn-success" >Valider le compte rendu</button>
						<button ng-click="closeExam()" class="btn btn-success">Liberer le compt rendu</button>
						
						
						
						</div>
						<!-- <div>
						<button ng-click="saveChanges()" class="btn btn-success" >Nouveau Malade</button>
						<button ng-click="validateChanges()" class="btn btn-success" >Vacation</button>
						
						
						
						</div> -->
						

						
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>

