<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/exam/new" class="btn btn-success" style="float: right">Nouvel Examin</a>
  		<h1>Liste des Examins</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Patient</th>
					  <th> age</th>
					  <th> sexe</th>
					  <th> service</th>
					  <th> Raison</th>
					  <th> Examin </th>
					  <th> Action </th>
					  <tr ng-repeat="exam in exams">
					    <td>{{ exam.fname }} {{ exam.lname }}</td>
					    <td>{{ exam.age }}</td>
					    <td>{{ exam.gender }}</td>
					    <td>{{ exam.hospital }} - {{ exam.service }}</td>
					    <td>{{ exam.reason }}</td>
					    <td>{{ exam.method }} - {{ exam.type }}</td>
					    <td><a ng-href="/exam/details/{{exam._id}}" class="btn btn-success" style="float: right">Details</a></td>


					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>
