
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<h1>Nouvel Examen</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group col-md-4">
							<label for="name">Nom:</label>
								<input type="text" class="form-control" id="name"  ng-model="lname">
						</div>
						<div class="form-group col-md-4">
							<label for="name">Prenom:</label>
								<input type="text" class="form-control" id="name"  ng-model="fname">
						</div>
						<div class="form-group col-md-2">
							<label for="name">Age:</label>
								<input type="Number" class="form-control" id="name"  ng-model="age">
						</div>
						<div class="form-group col-md-2">
							<label for="name">Sexe:</label>
							<select class="form-control" ng-model="gender">
							  <option>Masculin</option> 
							  <option>Feminin</option> 
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="name">Hopital:</label>
								<input type="text" class="form-control" id="name"  ng-model="hospital">
						</div>
						<div class="form-group col-md-6">
							<label for="name">Service:</label>
								<input type="text" class="form-control" id="name"  ng-model="service">
						</div>
						<div class="form-group col-md-6">
							<label for="info">Methode:</label>
							<input type="text" class="form-control" id="name"  ng-model="method" readonly>
							  
						</div>
						<div class="form-group col-md-6">
							<label for="info">Type d'examain:</label>
							<select class="form-control" ng-model="type">
							  <option ng-repeat="t in types">{{ t.name }}</option> 
							</select>
						</div>
						<div class="form-group col-md-12">
							<label for="name">Motif:</label>
								<input type="text" class="form-control" id="name"  ng-model="reason">
						</div>

						<div style="float: right">
							<button ng-click="newExam()" class="btn btn-success">Commancer l'interpretation</button>
							<button ng-click="newExamReload()" class="btn btn-success">Enregistrer et ajouter Un autre</button>
						</div>
						
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>

