<div class="container">
	<div class="row">
		
			
				  	<div class="col-md-6">
					    <b>Nom:</b> {{exam.lname}} 
					    <br>
					    <b>Prenom:</b> {{exam.fname}}
					    <br>
					    <b>Age:</b> {{exam.age}}
					    <br>
					    <b>Sexe:</b> {{exam.gender}}
					    <br>
				  	</div>
		

					<div class="col-md-6">
						
					    <b>Examin Demande par:</b> {{exam.hospital + " " + exam.service }} 
					    <br>
					    <b>Raison:</b> {{exam.reason}} 
					    <br>
					    <b>Technique:</b> {{exam.method}}  {{exam.type}}
					    <br>
					    <b>Date:</b> {{exam.date}}
					    <br>
					    <b>Status:</b> {{ exam.status }}
					</div>
				
		
	</div>
	<div class="row">
		<div class="col-md-12">
			    <b>Compte Rendu:</b> 
			    <br>
			    <div id="report"></div>
			    <b>Conclusion:</b> 
			    <br>
			    <div id="conclusion"></div>
			    <br>
				<b> {{ exam.interpretedBy }}</b>
			 
	</div>
	</div>
	
</div>