<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/examType/new" class="btn btn-success" style="float: right">Nouveau Type d'examin</a>
  		<h1>Liste des Techniques</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Nom de la Technique</th>
					  <th> Methode</th>
					  <tr ng-repeat="examType in examTypes">
					    <td>{{ examType.name }}</td>
					    <td>{{ examType.method }}</td>
					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>
