
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<h1>Nouveau Type d'examin</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						
						<div class="form-group">
							<label for="info">Methode(Technique):</label>
							<select class="form-control" ng-model="method">
							  <option ng-repeat="method in methods">{{ method.name }}</option> 
							</select>
						</div>
						<div class="form-group">
							<label for="name">Nom:</label>
								<input type="text" class="form-control" id="name"  ng-model="name">
						</div>
						<div class="form-group">
							<label for="techModel">Technique d'examination:</label>
							<div  id="techModel">Hello Summernote</div>
						</div>
						<div class="form-group">
							<label for="reportModel">Compt Rendu Type:</label>
							<div  id="reportModel">Hello Summernote</div>
						</div>
						<div class="form-group">
							<label for="info">Conclusion Type:</label>
							<div  id="conclusionModel">Hello Summernote</div>
						</div>
						
						<button ng-click="newExamType()" class="btn btn-success" style="float: right">Valider</button>
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>


<script>
	


</script>