<style>
  .row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

.small-margin-top{
  margin-top: -40px;
  margin-bottom: -00px;
}
</style>

<div class="container small-margin-top">

  <div class="row" ng-controller="SessionDataCtrl">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Details de la vacation en cours</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <table class="table" >
              <th> Date</th>
              <th> Salle</th>
              <th> Technique</th>
              <th> Responsable  de la vacation</th>
              <th> Equipe</th>
              <th> Status</th>
              <th> Action</th>
              <tr>
                <td>{{ sessionDate }}</td>
                <td>{{ sessionRoom }}</td>
                <td>{{ sessionMethod }}</td>
                <td>{{ sessionHead }}</td>
                <td>{{ sessionTeam }}</td>
                <td>{{ sessionStatus }}</td>
                <td><a ng-click="closeSession()" class="btn btn-danger" style="float: right">Fermer</a></td>

              </tr>
            </table>   
          </div>
        </div>
      </div>
    </div>
    </div>

    <script>
      
        var $this = $('.panel-heading span.clickable');
 
   $this.parents('.panel').find('.panel-body').slideUp();
    $this.addClass('panel-collapsed');
    $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
  

      $(document).on('click', '.panel-heading span.clickable', function(e){
    var $this = $(this);
  if(!$this.hasClass('panel-collapsed')) {
    $this.parents('.panel').find('.panel-body').slideUp();
    $this.addClass('panel-collapsed');
    $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
  } else {
    $this.parents('.panel').find('.panel-body').slideDown();
    $this.removeClass('panel-collapsed');
    $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
  }
})
    </script>