<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/equipment/new" class="btn btn-success" style="float: right">Nouvel Equipement</a>
  		<h1>Liste des Equipements</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Marque</th>
					  <th> Model</th>
					  <th> Mise en Service</th>
					  <tr ng-repeat="e in equipments">
					    <td>{{ e.brand }}</td>
					    <td>{{ e.name }}</td>
					    <td>{{ e.year }}</td>
					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>
