
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<h1>Nouvel Equipement</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="name">Marque:</label>
								<input type="text" class="form-control" id="name"  ng-model="brand">
						</div>
						<div class="form-group">
							<label for="name">Model:</label>
								<input type="text" class="form-control" id="name"  ng-model="name">
						</div>
						<div class="form-group">
							<label for="name">Mise en Service:</label>
							<input type="number" class="form-control" id="name"  ng-model="year">
						</div>
						<button ng-click="newEquipment()" class="btn btn-success" style="float: right">Valider</button>
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>

