
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<h1>Creation de Grade</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="name">Titre du Grade:</label>
							<input type="text" class="form-control" id="name"  ng-model="name">
						</div>
						<div class="form-group">
							<label for="info">Note:</label>
							<input type="text" class="form-control" id="info" ng-model="info">
						</div>
							
						<button ng-click="newRank()" class="btn btn-success" style="float: right">Valider</button>
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>

