
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/grade/new" class="btn btn-success" style="float: right">Nouveau Grade</a>
  		<h1>Liste des Grades</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Titre du Grade</th>
					  <th>Info</th>
					  <tr ng-repeat="rank in ranks">
					    <td>{{ rank.name }}</td>
					    <td>{{ rank.info }}</td>
					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>

