
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/method/new" class="btn btn-success" style="float: right">Nouvelle Methode</a>
  		<h1>Liste des Methodes D'examin</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Nom</th>
					  <th>Info</th>
					  <tr ng-repeat="method in methods">
					    <td>{{ method.name }}</td>
					    <td>{{ method.info }}</td>
					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>

