<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/doctor/new" class="btn btn-success" style="float: right">Nouveau Medecin</a>
  		<h1>Liste des Medecins</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Nom</th>
					  <th> Grade</th>
					  <tr ng-repeat="doc in doctors">
					    <td>Dr.{{ doc.name }}</td>
					    <td>{{ doc.rank }}</td>
					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>
