
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<h1>Nouveau Medecin</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="name">Nom:</label>
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Dr.</span>
								<input type="text" class="form-control" id="name"  ng-model="name">
							</div>
						</div>
						<div class="form-group">
							<label for="info">Grade:</label>
							<select class="form-control" ng-model="rank">
							  <option ng-repeat="r in ranks">{{ r.name }}</option> 
							</select>
						</div>
							<button ng-click="getRank()" class="btn btn-success" style="float: right">rank</button>
						<button ng-click="newDoctor()" class="btn btn-success" style="float: right">Valider</button>
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>

