
<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<h1>Nouvelle Vacation</h1>
  			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form">
						<div class="form-group col-md-4">
							<label for="date">Date:</label>
								<input type="date" class="form-control" id="date"  ng-model="date">
						</div>
						<div class="form-group col-md-4">
							<label for="method">Technique:</label>
							<select class="form-control" ng-model="method" ng-change="getRooms()">
							  <option ng-repeat="method in methods">{{ method.name }}</option> 
							</select>
						</div>
						<div class="form-group col-md-4">
							<label for="room">Salle:</label>
							<select class="form-control" ng-model="room">
							  <option ng-repeat="room in rooms">{{ room.name }}</option> 
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="info">Chef de Vacation:</label>
							<select class="form-control" ng-model="sessionHead">
							  <option ng-repeat="doctor in doctors">Dr.{{ doctor.name }}</option> 
							</select>
							
						</div>
						<div class="form-group col-md-6">
							<label for="info">2eme Chef de Vacation:</label>
							<select class="form-control" ng-model="sessionHead2">
							  <option ng-repeat="doctor in doctors">Dr.{{ doctor.name }}</option> 
							</select>

						</div>
						
						<div class="form-group col-md-12">
							<label for="info">Equipe de la Vacation(sans inclur les Chefs de vacation): {{ sessionTeam }}</label>
							<div class="col-md-10">
								<select class="form-control col-md-10" ng-model="teamMember">
							  <option ng-repeat="doctor in doctors">Dr.{{ doctor.name }}</option> 
							</select>
							</div>
							

							<button ng-click="addMember()" class="btn btn-success" style="float: left">Ajouter</button>
						
						</div>
						
						<button ng-click="newSession()" class="btn btn-success" style="float: right">Valider</button>
					</form>
				</div>
			</div>
  		</div>
  	</div>
</div>

