<div class="container">
	<div class="row">
  		<div class="col-md-12">
  		<a href="/session/new" class="btn btn-success" style="float: right">Nouvelle Vacation</a>
  		<h1>Liste des Vacations</h1>

  			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" >
					  <th> Date</th>
					  <th> Salle</th>
					  <th> Technique</th>
					  <th> Responsable  de la vacation</th>
					  <th> Equipe</th>
					  <th> Status</th>
					  <tr ng-repeat="session in sessions">
					    <td>{{ session.date }}</td>
					    <td>{{ session.room }}</td>
					    <td>{{ session.method }}</td>
					    <td>{{ session.sessionHead }}</td>
					    <td><span ng-repeat="m in session.sessionTeam" >{{ m }}, </span> </td>
					    <td>{{ session.status }}</td>
					  </tr>
					</table>
				</div>
			</div>
  		</div>
  	</div>
</div>
